In [1]:
import duckdb
import os
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
con = duckdb.connect(":default:")

In [3]:
con.sql("install postgres;")
con.sql("load postgres;")

In [4]:
con.sql(f"""
CREATE SECRET postgres_secret (
    TYPE postgres,
    HOST {os.getenv("host")},
    PORT {os.getenv("port")},
    DATABASE {os.getenv("database")},
    USER {os.getenv("username")},
    PASSWORD {os.getenv("password")}
);
""")

┌─────────┐
│ Success │
│ boolean │
├─────────┤
│ true    │
└─────────┘

In [5]:
con.sql("ATTACH '' AS dvd_rental (TYPE postgres, SECRET postgres_secret, SCHEMA 'public');")

In [6]:
con.sql("select * from dvd_rental.public.actor limit 15;")

┌──────────┬────────────┬──────────────┬────────────────────────┐
│ actor_id │ first_name │  last_name   │      last_update       │
│  int32   │  varchar   │   varchar    │       timestamp        │
├──────────┼────────────┼──────────────┼────────────────────────┤
│        1 │ Penelope   │ Guiness      │ 2013-05-26 14:47:57.62 │
│        2 │ Nick       │ Wahlberg     │ 2013-05-26 14:47:57.62 │
│        3 │ Ed         │ Chase        │ 2013-05-26 14:47:57.62 │
│        4 │ Jennifer   │ Davis        │ 2013-05-26 14:47:57.62 │
│        5 │ Johnny     │ Lollobrigida │ 2013-05-26 14:47:57.62 │
│        6 │ Bette      │ Nicholson    │ 2013-05-26 14:47:57.62 │
│        7 │ Grace      │ Mostel       │ 2013-05-26 14:47:57.62 │
│        8 │ Matthew    │ Johansson    │ 2013-05-26 14:47:57.62 │
│        9 │ Joe        │ Swank        │ 2013-05-26 14:47:57.62 │
│       10 │ Christian  │ Gable        │ 2013-05-26 14:47:57.62 │
│       11 │ Zero       │ Cage         │ 2013-05-26 14:47:57.62 │
│       12 │ Karl       │ Berry        │ 2013-05-26 14:47:57.62 │
│       13 │ Uma        │ Wood         │ 2013-05-26 14:47:57.62 │
│       14 │ Vivien     │ Bergen       │ 2013-05-26 14:47:57.62 │
│       15 │ Cuba       │ Olivier      │ 2013-05-26 14:47:57.62 │
├──────────┴────────────┴──────────────┴────────────────────────┤
│ 15 rows                                             4 columns │
└───────────────────────────────────────────────────────────────┘

In [7]:
con.sql("select * from dvd_rental.public.film_actor limit 15;")

┌──────────┬─────────┬─────────────────────┐
│ actor_id │ film_id │     last_update     │
│  int16   │  int16  │      timestamp      │
├──────────┼─────────┼─────────────────────┤
│        1 │       1 │ 2006-02-15 10:05:03 │
│        1 │      23 │ 2006-02-15 10:05:03 │
│        1 │      25 │ 2006-02-15 10:05:03 │
│        1 │     106 │ 2006-02-15 10:05:03 │
│        1 │     140 │ 2006-02-15 10:05:03 │
│        1 │     166 │ 2006-02-15 10:05:03 │
│        1 │     277 │ 2006-02-15 10:05:03 │
│        1 │     361 │ 2006-02-15 10:05:03 │
│        1 │     438 │ 2006-02-15 10:05:03 │
│        1 │     499 │ 2006-02-15 10:05:03 │
│        1 │     506 │ 2006-02-15 10:05:03 │
│        1 │     509 │ 2006-02-15 10:05:03 │
│        1 │     605 │ 2006-02-15 10:05:03 │
│        1 │     635 │ 2006-02-15 10:05:03 │
│        1 │     749 │ 2006-02-15 10:05:03 │
├──────────┴─────────┴─────────────────────┤
│ 15 rows                        3 columns │
└──────────────────────────────────────────┘

In [8]:
con.sql("select * from dvd_rental.public.film limit 15;")

┌─────────┬───────────────────┬───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────┬─────────────┬─────────────────┬──────────────┬────────┬──────────────────┬────────────────────────────────────────┬─────────────────────────┬─────────────────────────────────────┬────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│ film_id │       title       │                                                      description                                                      │ release_year │ language_id │ rental_duration │ rental_rate  │ length │ replacement_cost │                 rating                 │       last_update       │          special_features           │                                                                                    fulltext                                                                                    │
│  int32  │      varchar      │                                                        varchar                                                        │   varchar    │    int16    │      int16      │ decimal(4,2) │ int16  │   decimal(5,2)   │ enum('g', 'pg', 'pg-13', 'r', 'nc-17') │        timestamp        │              varchar[]              │                                                                                    varchar                                                                                     │
├─────────┼───────────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────┼─────────────┼─────────────────┼──────────────┼────────┼──────────────────┼────────────────────────────────────────┼─────────────────────────┼─────────────────────────────────────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│     133 │ Chamber Italian   │ A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria                                   │ 2006         │           1 │               7 │         4.99 │    117 │            14.99 │ NC-17                                  │ 2013-05-26 14:50:58.951 │ [Trailers]                          │ 'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5                                                             │
│     384 │ Grosse Wonderful  │ A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia                                             │ 2006         │           1 │               5 │         4.99 │     49 │            19.99 │ R                                      │ 2013-05-26 14:50:58.951 │ [Behind the Scenes]                 │ 'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2                                                                     │
│       8 │ Airport Pollock   │ A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India                                         │ 2006         │           1 │               6 │         4.99 │     54 │            15.99 │ R                                      │ 2013-05-26 14:50:58.951 │ [Trailers]                          │ 'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5                                                       │
│      98 │ Bright Encounters │ A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat                                │ 2006         │           1 │               4 │         4.99 │     73 │            12.99 │ PG-13                                  │ 2013-05-26 14:50:58.951 │ [Trailers]                          │ 'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5                                                   │
│       1 │ Academy Dinosaur  │ A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies                      │ 2006         │           1 │               6 │         0.99 │     86 │            20.99 │ PG                                     │ 2013-05-26 14:50:58.951 │ [Deleted Scenes, Behind the Scenes] │ 'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17                                    │
│       2 │ Ace Goldfinger    │ A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China                  │ 2006         │           1 │               3 │         4.99 │     48 │            12.99 │ G                                      │ 2013-05-26 14:50:58.951 │ [Trailers, Deleted Scenes]          │ 'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14                                         │
│       3 │ Adaptation Holes  │ A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory                      │ 2006         │           1 │               7 │         2.99 │     50 │            18.99 │ NC-17                                  │ 2013-05-26 14:50:58.951 │ [Trailers, Deleted Scenes]          │ 'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14                                                             │
│       4 │ Affair Prejudice  │ A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank                          │ 2006         │           1 │               5 │         2.99 │    117 │            26.99 │ G                                      │ 2013-05-26 14:50:58.951 │ [Commentaries, Behind the Scenes]   │ 'affair':1 'chase':14 'documentari':5 'fanci':4 'frisbe':8 'lumberjack':11 'monkey':16 'must':13 'prejudic':2 'shark':19 'tank':20                                             │
│       5 │ African Egg       │ A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico │ 2006         │           1 │               6 │         2.99 │    130 │            22.99 │ G                                      │ 2013-05-26 14:50:58.951 │ [Deleted Scenes]                    │ 'african':1 'chef':11 'dentist':14 'documentari':7 'egg':2 'fast':5 'fast-pac':4 'forens':19 'gulf':23 'mexico':25 'must':16 'pace':6 'pastri':10 'psychologist':20 'pursu':17 │
│       6 │ Agent Truman      │ A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China                             │ 2006         │           1 │               3 │         2.99 │    169 │            17.99 │ PG                                     │ 2013-05-26 14:50:58.951 │ [Deleted Scenes]                    │ 'agent':1 'ancient':19 'boy':11 'china':20 'escap':14 'intrepid':4 'must':13 'panorama':5 'robot':8 'sumo':16 'truman':2 'wrestler':17                                         │
│       7 │ Airplane Sierra   │ A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat                                     │ 2006         │           1 │               6 │         4.99 │     62 │            28.99 │ PG-13                                  │ 2013-05-26 14:50:58.951 │ [Trailers, Deleted Scenes]          │ 'airplan':1 'boat':20 'butler':11,16 'discov':14 'hunter':8 'jet':19 'must':13 'saga':5 'sierra':2 'touch':4                                                                   │
│       9 │ Alabama Devil     │ A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat   │ 2006         │           1 │               3 │         2.99 │    114 │            21.99 │ PG-13                                  │ 2013-05-26 14:50:58.951 │ [Trailers, Deleted Scenes]          │ 'administr':9 'alabama':1 'boat':23 'databas':8 'devil':2 'jet':22 'mad':12,18 'must':15 'outgun':16 'panorama':5 'scientist':13,19 'thought':4                                │
│      10 │ Aladdin Calendar  │ A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China                             │ 2006         │           1 │               6 │         4.99 │     63 │            24.99 │ NC-17                                  │ 2013-05-26 14:50:58.951 │ [Trailers, Deleted Scenes]          │ 'action':5 'action-pack':4 'aladdin':1 'ancient':20 'calendar':2 'china':21 'feminist':18 'lumberjack':13 'man':10 'must':15 'pack':6 'reach':16 'tale':7                      │
│      11 │ Alamo Videotape   │ A Boring Epistle of a Butler And a Cat who must Fight a Pastry Chef in A MySQL Convention                             │ 2006         │           1 │               6 │         0.99 │    126 │            16.99 │ G                                      │ 2013-05-26 14:50:58.951 │ [Commentaries, Behind the Scenes]   │ 'alamo':1 'bore':4 'butler':8 'cat':11 'chef':17 'convent':21 'epistl':5 'fight':14 'must':13 'mysql':20 'pastri':16 'videotap':2                                              │
│      12 │ Alaska Phantom    │ A Fanciful Saga of a Hunter And a Pastry Chef who must Vanquish a Boy in Australia                                    │ 2006         │           1 │               6 │         0.99 │    136 │            22.99 │ PG                                     │ 2013-05-26 14:50:58.951 │ [Commentaries, Deleted Scenes]      │ 'alaska':1 'australia':19 'boy':17 'chef':12 'fanci':4 'hunter':8 'must':14 'pastri':11 'phantom':2 'saga':5 'vanquish':15                                                     │
├─────────┴───────────────────┴───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴──────────────┴─────────────┴─────────────────┴──────────────┴────────┴──────────────────┴────────────────────────────────────────┴─────────────────────────┴─────────────────────────────────────┴────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ 15 rows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      13 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [9]:
con.sql("select * from dvd_rental.public.film_category limit 15;")

┌─────────┬─────────────┬─────────────────────┐
│ film_id │ category_id │     last_update     │
│  int16  │    int16    │      timestamp      │
├─────────┼─────────────┼─────────────────────┤
│       1 │           6 │ 2006-02-15 10:07:09 │
│       2 │          11 │ 2006-02-15 10:07:09 │
│       3 │           6 │ 2006-02-15 10:07:09 │
│       4 │          11 │ 2006-02-15 10:07:09 │
│       5 │           8 │ 2006-02-15 10:07:09 │
│       6 │           9 │ 2006-02-15 10:07:09 │
│       7 │           5 │ 2006-02-15 10:07:09 │
│       8 │          11 │ 2006-02-15 10:07:09 │
│       9 │          11 │ 2006-02-15 10:07:09 │
│      10 │          15 │ 2006-02-15 10:07:09 │
│      11 │           9 │ 2006-02-15 10:07:09 │
│      12 │          12 │ 2006-02-15 10:07:09 │
│      13 │          11 │ 2006-02-15 10:07:09 │
│      14 │           4 │ 2006-02-15 10:07:09 │
│      15 │           9 │ 2006-02-15 10:07:09 │
├─────────┴─────────────┴─────────────────────┤
│ 15 rows                           3 columns │
└─────────────────────────────────────────────┘

In [10]:
con.sql(
"""
select
  f.actor_id,
  a.first_name,
  a.last_name,
  count(f.film_id) as films
from
  dvd_rental.public.film_actor as f
left join 
  dvd_rental.public.actor as a
on f.actor_id = a.actor_id
group by
  f.actor_id,
  a.first_name,
  a.last_name,
order by
 films desc
"""
)

┌──────────┬────────────┬─────────────┬───────┐
│ actor_id │ first_name │  last_name  │ films │
│  int16   │  varchar   │   varchar   │ int64 │
├──────────┼────────────┼─────────────┼───────┤
│      107 │ Gina       │ Degeneres   │    42 │
│      102 │ Walter     │ Torn        │    41 │
│      198 │ Mary       │ Keitel      │    40 │
│      181 │ Matthew    │ Carrey      │    39 │
│       23 │ Sandra     │ Kilmer      │    37 │
│       81 │ Scarlett   │ Damon       │    36 │
│       37 │ Val        │ Bolger      │    35 │
│       60 │ Henry      │ Berry       │    35 │
│      144 │ Angela     │ Witherspoon │    35 │
│       13 │ Uma        │ Wood        │    35 │
│        · │  ·         │  ·          │     · │
│        · │  ·         │  ·          │     · │
│        · │  ·         │  ·          │     · │
│        1 │ Penelope   │ Guiness     │    19 │
│       30 │ Sandra     │ Peck        │    19 │
│       63 │ Cameron    │ Wray        │    19 │
│      183 │ Russell    │ Close       │    19 │
│       71 │ Adam       │ Grant       │    18 │
│       31 │ Sissy      │ Sobieski    │    18 │
│      186 │ Julia      │ Zellweger   │    16 │
│       35 │ Judy       │ Dean        │    15 │
│      199 │ Julia      │ Fawcett     │    15 │
│      148 │ Emily      │ Dee         │    14 │
├──────────┴────────────┴─────────────┴───────┤
│ 200 rows (20 shown)               4 columns │
└─────────────────────────────────────────────┘

In [11]:
con.sql(
"""
select
  f.film_id,
  f.title,
  count(a.actor_id) as actors
from
  dvd_rental.public.film as f
left join
  dvd_rental.public.film_actor as a
on
 f.film_id = a.film_id
group by
  f.film_id,
  f.title,
order by actors desc;
"""
)

┌─────────┬───────────────────┬────────┐
│ film_id │       title       │ actors │
│  int32  │      varchar      │ int64  │
├─────────┼───────────────────┼────────┤
│     508 │ Lambs Cincinatti  │     15 │
│      87 │ Boondock Ballroom │     13 │
│     606 │ Mummy Creatures   │     13 │
│     188 │ Crazy Home        │     13 │
│     146 │ Chitty Lock       │     13 │
│     249 │ Dracula Crystal   │     13 │
│     714 │ Random Go         │     13 │
│      34 │ Arabia Dogma      │     12 │
│     802 │ Sky Miracle       │     12 │
│     517 │ Lesson Cleopatra  │     12 │
│       · │        ·          │      · │
│       · │        ·          │      · │
│       · │        ·          │      · │
│      50 │ Baked Cleopatra   │      1 │
│     701 │ Psycho Shrunk     │      1 │
│     789 │ Shock Cabin       │      1 │
│     595 │ Moon Bunch        │      1 │
│      97 │ Bride Intrigue    │      1 │
│     355 │ Ghostbusters Elf  │      1 │
│     528 │ Lolita World      │      1 │
│     803 │ Slacker Liaisons  │      0 │
│     323 │ Flight Lies       │      0 │
│     257 │ Drumline Cyclone  │      0 │
├─────────┴───────────────────┴────────┤
│ 1000 rows (20 shown)       3 columns │
└──────────────────────────────────────┘

In [12]:
con.sql(
"""
with 
  actors_films as (
    select
        f.film_id,
        f.title,
        count(a.actor_id) as actors
    from
        dvd_rental.public.film as f
    left join
        dvd_rental.public.film_actor as a
    on
        f.film_id = a.film_id
    group by
        f.film_id,
        f.title
    order by 
        actors desc
)
select
  a.*,
  c.name
from actors_films as a
left join dvd_rental.public.film_category as fc
  on a.film_id = fc.film_id
left join dvd_rental.public.category as c
  on fc.category_id = c.category_id
"""
)

┌─────────┬─────────────────────┬────────┬───────────┐
│ film_id │        title        │ actors │   name    │
│  int32  │       varchar       │ int64  │  varchar  │
├─────────┼─────────────────────┼────────┼───────────┤
│     508 │ Lambs Cincinatti    │     15 │ Games     │
│      87 │ Boondock Ballroom   │     13 │ Travel    │
│     188 │ Crazy Home          │     13 │ Comedy    │
│     249 │ Dracula Crystal     │     13 │ Classics  │
│     714 │ Random Go           │     13 │ Sci-Fi    │
│     606 │ Mummy Creatures     │     13 │ Sports    │
│     146 │ Chitty Lock         │     13 │ Drama     │
│     529 │ Lonely Elephant     │     12 │ Comedy    │
│     517 │ Lesson Cleopatra    │     12 │ Sports    │
│     414 │ Hellfighters Sierra │     12 │ Foreign   │
│      ·  │       ·             │      · │   ·       │
│      ·  │       ·             │      · │   ·       │
│      ·  │       ·             │      · │   ·       │
│     701 │ Psycho Shrunk       │      1 │ Games     │
│     328 │ Forever Candidate   │      1 │ Children  │
│     651 │ Packer Madigan      │      1 │ Animation │
│     789 │ Shock Cabin         │      1 │ Foreign   │
│     240 │ Dolls Rage          │      1 │ Sci-Fi    │
│     611 │ Musketeers Wait     │      1 │ Classics  │
│     556 │ Maltese Hope        │      1 │ Games     │
│     803 │ Slacker Liaisons    │      0 │ Drama     │
│     257 │ Drumline Cyclone    │      0 │ Travel    │
│     323 │ Flight Lies         │      0 │ Sports    │
├─────────┴─────────────────────┴────────┴───────────┤
│ 1000 rows (20 shown)                     4 columns │
└────────────────────────────────────────────────────┘

In [13]:
con.sql(
"""
select
  c.name,
  count(fc.film_id) as films
from
  dvd_rental.public.category as c
left join
  dvd_rental.public.film_category as fc
on
 c.category_id = fc.category_id
group by
  c.category_id,
  c.name
order by
  films desc;
"""
)

┌─────────────┬───────┐
│    name     │ films │
│   varchar   │ int64 │
├─────────────┼───────┤
│ Sports      │    74 │
│ Foreign     │    73 │
│ Family      │    69 │
│ Documentary │    68 │
│ Animation   │    66 │
│ Action      │    64 │
│ New         │    63 │
│ Drama       │    62 │
│ Sci-Fi      │    61 │
│ Games       │    61 │
│ Children    │    60 │
│ Comedy      │    58 │
│ Travel      │    57 │
│ Classics    │    57 │
│ Horror      │    56 │
│ Music       │    51 │
├─────────────┴───────┤
│ 16 rows   2 columns │
└─────────────────────┘

In [14]:
con.sql(
"""
select
  f.title,
  c.name,
  count(r.rental_id) as rentals_per_movie
from
  dvd_rental.public.film as f
join
  dvd_rental.public.inventory as i
on
  f.film_id = i.film_id 
join
  dvd_rental.public.rental as r
on
  i.inventory_id = r.inventory_id 
left join
  dvd_rental.public.film_category as fc
on
  f.film_id = fc.film_id 
left join
  dvd_rental.public.category as c
on
  fc.category_id = c.category_id 
group by
  f.film_id,
  f.title,
  c.name
order by
  rentals_per_movie desc
"""
)

┌─────────────────────┬─────────────┬───────────────────┐
│        title        │    name     │ rentals_per_movie │
│       varchar       │   varchar   │       int64       │
├─────────────────────┼─────────────┼───────────────────┤
│ Bucket Brotherhood  │ Travel      │                34 │
│ Rocketeer Mother    │ Foreign     │                33 │
│ Ridgemont Submarine │ New         │                32 │
│ Grit Clockwork      │ Games       │                32 │
│ Juggler Hardly      │ Animation   │                32 │
│ Forward Temple      │ Games       │                32 │
│ Scalawag Duck       │ Music       │                32 │
│ Goodfellas Salute   │ Sci-Fi      │                31 │
│ Robbers Joon        │ Children    │                31 │
│ Zorro Ark           │ Comedy      │                31 │
│     ·               │   ·         │                 · │
│     ·               │   ·         │                 · │
│     ·               │   ·         │                 · │
│ Freedom Cleopatra   │ Comedy      │                 5 │
│ Conspiracy Spirit   │ Classics    │                 5 │
│ Informer Double     │ Foreign     │                 5 │
│ Fever Empire        │ Games       │                 5 │
│ Traffic Hobbit      │ Travel      │                 5 │
│ Full Flatliners     │ Children    │                 5 │
│ Private Drop        │ Games       │                 5 │
│ Train Bunch         │ Horror      │                 4 │
│ Hardly Robbers      │ Documentary │                 4 │
│ Mixed Doors         │ Foreign     │                 4 │
├─────────────────────┴─────────────┴───────────────────┤
│ 958 rows (20 shown)                         3 columns │
└───────────────────────────────────────────────────────┘

In [15]:
con.sql(
"""
select
  c.name,
  count(r.rental_id) as rentals_per_category
from dvd_rental.public.category as c
join
  dvd_rental.public.film_category as fc
on
  c.category_id = fc.category_id
join
  dvd_rental.public.inventory as i
on
  fc.film_id = i.film_id
join
  dvd_rental.public.rental as r
on
  i.inventory_id = r.inventory_id
group by
  c.name
order by 
 rentals_per_category desc;
"""
)

┌─────────────┬──────────────────────┐
│    name     │ rentals_per_category │
│   varchar   │        int64         │
├─────────────┼──────────────────────┤
│ Sports      │                 1179 │
│ Animation   │                 1166 │
│ Action      │                 1112 │
│ Sci-Fi      │                 1101 │
│ Family      │                 1096 │
│ Drama       │                 1060 │
│ Documentary │                 1050 │
│ Foreign     │                 1033 │
│ Games       │                  969 │
│ Children    │                  945 │
│ Comedy      │                  941 │
│ New         │                  940 │
│ Classics    │                  939 │
│ Horror      │                  846 │
│ Travel      │                  837 │
│ Music       │                  830 │
├─────────────┴──────────────────────┤
│ 16 rows                  2 columns │
└────────────────────────────────────┘

In [16]:
con.sql("""
select
  c.name,
  avg(f.rental_rate)::decimal(4,2) as average_category_rental_rate,
from
  dvd_rental.public.category as c
join
  dvd_rental.public.film_category as fc
on
  c.category_id = fc.category_id
join
  dvd_rental.public.film as f
on
  fc.film_id = f.film_id
group by
  c.name
order by
  average_category_rental_rate desc;
""")

┌─────────────┬──────────────────────────────┐
│    name     │ average_category_rental_rate │
│   varchar   │         decimal(4,2)         │
├─────────────┼──────────────────────────────┤
│ Games       │                         3.25 │
│ Travel      │                         3.24 │
│ Sci-Fi      │                         3.22 │
│ Comedy      │                         3.16 │
│ Sports      │                         3.13 │
│ New         │                         3.12 │
│ Foreign     │                         3.10 │
│ Horror      │                         3.03 │
│ Drama       │                         3.02 │
│ Music       │                         2.95 │
│ Children    │                         2.89 │
│ Animation   │                         2.81 │
│ Family      │                         2.76 │
│ Classics    │                         2.74 │
│ Documentary │                         2.67 │
│ Action      │                         2.65 │
├─────────────┴──────────────────────────────┤
│ 16 rows                          2 columns │
└────────────────────────────────────────────┘

In [17]:
con.sql("""
select
  c.name,
  avg(f.length)::integer as average_category_length,
from
  dvd_rental.public.category as c
join
  dvd_rental.public.film_category as fc
on
  c.category_id = fc.category_id
join
  dvd_rental.public.film as f
on
  fc.film_id = f.film_id
group by
  c.name
order by
  average_category_length desc;
""")

┌─────────────┬─────────────────────────┐
│    name     │ average_category_length │
│   varchar   │          int32          │
├─────────────┼─────────────────────────┤
│ Games       │                     128 │
│ Sports      │                     128 │
│ Foreign     │                     122 │
│ Drama       │                     121 │
│ Comedy      │                     116 │
│ Family      │                     115 │
│ Music       │                     114 │
│ Travel      │                     113 │
│ Horror      │                     112 │
│ Action      │                     112 │
│ Classics    │                     112 │
│ New         │                     111 │
│ Animation   │                     111 │
│ Children    │                     110 │
│ Documentary │                     109 │
│ Sci-Fi      │                     108 │
├─────────────┴─────────────────────────┤
│ 16 rows                     2 columns │
└───────────────────────────────────────┘